.Result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 70vw;
    background-color: #8557C5;
    padding: 35px;
    margin: 60px auto 30px auto;
}

.container-book-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 10px;
}

.book-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #220066;
    padding: 32px;

}

.book-info {
    width: 100%;
    padding-left: 35px;
}

.book-info a {
    color: #afeeee;
}

.container-buttons-result {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    font-weight: bold;
}

.options-result h3 {
    display: flex;
}

.options-result {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #220066;
    color: #afeeee;
    width: 300px;
    height: 50px;
    cursor: pointer;
}

.options-result:hover {
    
    background-color: #afeeee;
    color: #220066;
}

@media screen and (max-width: 970px) {
    .Result {
        width: 90vw;
        padding: 27px;
    }

    .container-book-info {
        flex-direction: column;
        padding-bottom: 0;
    }

    .Result .book-info {
        padding: 10px;
        flex-direction: column;
    }

    .container-buttons-result {
        align-items: center;
        flex-direction: column;
    }

    .options-result {
        width: 270px;
        font-size: 14px;
        margin: 5px;
    }


}
